@font-face {
  font-family: 'Roboto-Mono Bold';
  src: url('../fonts/robotomono-bold.eot');
  src: url('../fonts/robotomono-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotomono-bold.woff2') format('woff2'),
    url('../fonts/robotomono-bold.woff') format('woff'),
    url('../fonts/robotomono-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

a{
	text-decoration: unset;
}

.hello-bar {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: proxima-nova, helvetica, arial, sans-serif;
  box-shadow: -2px 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-bottom: 4px solid #8C6698;
  background-color: #FCE579;
  background-size: contain;
  background-position: 80% center;
  background-repeat: no-repeat;
}

.hello-bar div {
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}
.hello-bar img.hb-logo {
  height: 32px;
  margin: 0;
  align-self: center;
}

.hello-bar img.hb-assets {
  display: inline-block;
  height: 32px;
  margin: 0;
  align-self: flex-end;
}

.hello-bar p {
  color: #302100;
  font-size: 13px;
  line-height: 14px;
  margin: 0 21px;
  font-family: proxima-nova, helvetica, arial, sans-serif;
  font-weight: 400;
}

.hello-bar p span {
  font-size: 13px;
  line-height: 14px;
  font-weight: 700;
  color:#302100;
}

.home section.section--top {
  margin-top: 50px;
}

.hb-button {
  display: inline-block;
  padding: 9px;
  height: 31px;
  font-family: proxima-nova, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background: #FCE579;
  border-radius: 99px;
  color: #33AD73;
  border: 1px solid #33AD73;
  margin-left: 77px;
  margin-top: -3px;
  cursor: pointer;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.hb-button.small {
  width: 90px;
}
.hb-button.medium {
  width: 132px;
}
.hb-button.long {
  width: 178px;
}

.hb-button:hover, .hello-bar:hover .hb-button {
  background-color: rgba(51, 173, 115, 0.2);
}

.hello-bar .separador {
  color: #f4578a;
}

@media (max-width: 1140px) {
  .hello-bar {
    display: none !important;
  }

  .home section.section--top {
    margin-top: 0;
  }
}

@media (min-width: 1441px) {
  .hello-bar {
    justify-content: center;
  }
}

/* Hello Bar Emms */

.hello-bar-emms{
  background-color: #1C0329;
  border-bottom: 4px solid #FF4FB6;
}

.hello-bar-emms img.hb-logo{
  display: none;
}

.hello-bar-emms p, .hello-bar-emms p span{
  color: #fff;
}

.hello-bar-emms .hb-button{
  background: #1c0329;
  font-size: 12px;
}

.hello-bar-emms .hb-button.long{
  width: 210px;
}